{% extends 'custom_base.html' %}
{% block content %}
    <div class="container">
        <div class="btn-group pull-right">
            <button class="btn btn-primary" onclick="copy_to_cb()"><i class="fa fa-copy"></i> Copy to clipboard</button>
        </div>
        <br>
        <br>
        <form action="" method="post" class="form" style="text-align: center">
            {{ form.csrf_token }}
            <textarea class="form-control" name="content" required rows="20">{{ form.content.data or '' }}</textarea>
            <br>
            <button class="btn btn-success" id="save" name="save" type="submit">
                <i class="fa fa-save"></i> Save
            </button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        function copy_to_cb() {
            $('textarea[name="content"]').select();
            document.execCommand("copy");
        }
    </script>
{% endblock %}